body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-position: center;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  
  border: none;
}

.container {
	background-color: #ffffff;
}

.intro {
	height: 564px;
	width: 1200px;
	background-color: #dff0f8;
    background-image: url("../img/intro-logo.jpg");
    background-repeat: no-repeat;
}

.main-navigation {
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	font-weight: 700;
	color: #000000;	
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #bdbbbc;
}

.site-navigation-current {
	font-weight: 700;
	color: #766357;	
}

.promo b {
	font-size: 21px;
	font-weight: 700;
}

.promo {
	text-align: center;
}

.features h3 {
	font-size: 21px;
	font-weight: 700;
}

.feature1-description,
.feature2-description {
	line-height: 21px;
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;	
}

.recommendations-list {
	line-height: 21px;
	text-align: center;

	list-style: none;	
}

.other-features-list {
	line-height: 21px;
	text-align: center;
	
	background-color: #eeeeee;
	list-style: none;	
}

.search h2 {
	font-size: 30px;
	font-weight: 700;
    line-height: 36px;
	text-align: center;	
}

.map {
	position: relative;
	height: 593px;
	overflow: hidden;
}

.map img {
	position: absolute;
	top: 50%;

	width: 1200px;
	height: 593px;
	transform: translateY(-50%);
}

.search-info {
	margin-bottom: 140px;
	line-height: 24px;
	text-align: center;	
}

.search-button {
	font-size: 21px;
	font-weight: 700;

    background-color: #766357;    
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #503e33;	
}

.search-form {
	font-size: 14px;
	font-weight: 700;
    line-height: 26px;
}

.form-button {
	font-size: 21px;
	font-weight: 700;

    background-color: #81b3d2;
}

.form-button:hover {
	background-color: #669ec0;
}

.form-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.search-item input {
	font: inherit;
	font-weight: 700;
	text-transform: uppercase;

	background-color: #f2f2f2;	
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:active {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.filters {
	width: 1200px;
	min-height: 217px;
	
	background-color: #4c789b;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;    
}

.filter {
	color: #ffffff;
}

.filter-option {
	list-style: none;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;	
}

.filter ul {
	line-height: 21px;
}

.filter input {
	background-color: transparent;
}


.filter input:disabled + label {
	color: #6a6a6a;
}

.filter .button {
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter .button:hover {
	color: #000000;

	background-color: #ffffff;	
}

.sorting span {
	font-size: 12px;
	line-height: 18px;
}

.sorting ul,
.catalog ul {
	list-style: none;
}

.options-number {
	font-size: 21px;
	font-weight: 700;
}

.options-list a {
	font-size: 12px;
	line-height: 18px;
	color: #bdbbbc;

	border-bottom: 1px dashed #81b3d2; 
}

.options-list a:hover {
	color: #81b3d2;
}

.options-list a:active {
	color: #000000;

	border-bottom: none;
}

.options-list-current {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
}

.catalog-item {
	background-color: #fefefe;
}

.price h3 {
	font-size: 21px;
	font-weight: 700px;
}

.price h3:hover {
	color: #81b3d2;
}

.price h3:active {
	color: #bdbbbc;
}

.details {
	line-height: 21px;
}

.info a {
	font-weight: 700;
	color: #ffffff;

	background-color: #81b3d2;
}

.info a:hover {
	background-color: #669ec0;
}

.info a:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.booking a {
	font-weight: 700;

	background-color: #766357; 
	   
}

.booking a:hover {
	background-color: #604e43;
}

.booking a:active {
	color: rgba(255,255,255,0.3);

	background-color: #503e33;	
}

.rating-item {
	background-color: #f2f2f2;
}

.main-footer {
	background-color: rgba(255,255,255,0.9);
}

.main-footer a {
	color: #000000;
	text-decoration: none;
}

.link,
.footer-social,
.footer-copyright {
	text-align: center;
}

.social-list {
	list-style: none;
}

.link b {
	font-size: 21px;
	font-weight: 700;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.footer-copyright .button:hover {
	color: rgb(129,179,210);
}

.footer-copyright .button:active {
	color: rgb(189,187,188);
}

/*----сеточные стили----

*, *::before, *::after {
	outline: 1px dashed green;
}

--*, *::before, *::after {
	outline: none;--*/


html,
body {
	min-width: 1200px;
}

.main-header {
	min-height: 55px;
}

.main-navigation {
	display: flex;
	justify-content: center;

	min-height: 55px;
}

.main-navigation-logo {
	position: absolute;
}

.site-navigation {
	display: flex;

	width: 100%;
	min-height: 55px;
	margin: 0;
	padding: 0 72px;

	list-style: none;	
}

.site-navigation li {
	width: 240px;
	padding-top: 14px;
	padding-bottom: 16px;
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
	text-align: right;
}

.site-navigation li:last-child {
	text-align: right;
}

.wrapper {
	position: relative;
    width: 1200px;
    margin: 0 auto;
}

.intro {
	margin-bottom: 61px;
	padding: 0;
}

.promo b {
	display: flex;

	width: 440px;
	margin: 0 auto;
	margin-bottom: 36px;
}

.promo p {
	margin-bottom: 56px;
}

.feature1 {
	display: flex;
	
    
	height: 256px;
	margin: 0;
	padding: 0;

	
}

.feature1-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 400px;	
}

.feature1-description p {
	width: 282px;
}

.sedona-picture { 
	position: relative; 
	overflow: hidden; 
} 

.sedona-picture img { 
	position: absolute; 
	top: 50%; 

	max-width: 100%; 
	height: auto; 
	transform: translateY(-50%); 
}

.recommendations {
	margin: 0;
	padding: 0;
    padding-bottom: 87px;
}

.recommendations-list {
	display: flex;

	margin: 0;
	padding: 0;
}

.recommendations-item {
	width: 400px;
}

.lodging {
	width: 253px;
	margin: 0 auto;
}

.food {
	width: 290px;
	margin: 0 auto;
}

.souvenirs {
	width: 271px;
	margin: 0 auto;
}

.feature2 {
	display: flex;
	position: relative;

    height: 256px;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

.bridge-picture img {
	position: absolute;
	max-width: 100%;
	top: 50%;
	height: auto;
	transform: translateY(-50%);
}

.feature2-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 400px;
	margin-left: auto;	
}

.feature2-description p {
	width: 302px;
}

.other-features-list {
	display: flex;

	margin: 0;
	margin-bottom: 54px;
	padding: 0;
	padding-top: 47px;
	padding-bottom: 63px;
}

.other-features-list li {
	width: 400px;
}

.feature3 {
	width: 208px;
	margin: 0 auto;
}

.feature4 {
	width: 262px;
	margin: 0 auto;
}

.feature5 {
	width: 259px;
	margin: 0 auto;
}

.search {
	position: relative;
}

.search h2 {
	margin-bottom: 32px;
}

.search-button {
	position: absolute;
	top: 170px;
	right: 300px;

	padding: 30px 140px;
}

.search-form {
	position: absolute;
	top: 255px;
	right: 300px;

	width: 570px;

	background-color: #ffffff;
}

.form-button {
	padding: 15px 196px;
	margin: 55px;
}

.filters {
	margin: 0;
}

.filter {
	display: flex;
	margin: 0;
	padding: 26px 74px 32px 74px; 
}

.filter-type {
	width: 252px;
	margin: 0;
	padding: 0;
}

.filter-type legend {
	margin: 0;
	margin-bottom: 25px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
}

.filter ul {
	padding: 0;
	margin: 0;
}

.filter-option {
	position: relative;

	margin-bottom: 26px;
	padding-left: 40px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-option label {
	position: relative;

	display: block;

	cursor: pointer;
	user-select: none;
}

.filter-option svg {
	position: absolute;
	left: 1px;
	top: -1px;	
}

.filter-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-range {    
    width: 330px;
	margin: 0;
	margin-left: auto;
}

.filter-range legend {
	margin: 0;
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.range {
    position: relative;

	height: 36px;
	margin: 0;
    margin-bottom: 20px;

    font-size: 0;

	border: 2px solid #ffffff;
    border-radius: 2px;
}

.range::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.range label {
	display: inline-block;

	vertical-align: top;
	font-size: 14px;
	line-height: 38px;

	cursor: pointer;
}

.range .cost-from,
.range .cost-up-to {
	width: 83px;
	padding-left: 65px;
}

.range input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

	width: 2px;
	height: 2px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-range .button {
    display: block;

    margin: 0 auto;
    padding: 5px 35px;

    line-height: 21px;

    border-radius: 2px;
    cursor: pointer;
}

.sorting {
	display: flex;
	align-items: center;
	min-height: 22px;
	margin: 0;
	padding: 29px 74px;
}

.sorting b {
	margin: 0;
	margin-right: 50px;
}

.sorting span {
	margin-right: 39px;
}

.sorting .options-list {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	width: 239px;
}

.sorting ul {
	margin: 0;
	padding: 0;
}

.catalog {
	margin: 0;
	padding: 0;	
}

.catalog-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item {
	display: flex;
	
	padding: 0 74px;

	border-top: 2px solid #e5e5e5;
}

.catalog-item:last-child {
	border-bottom: 2px solid #e5e5e5;
}

.catalog-item-image {
	margin: 0;
	margin-right: 30px;
	padding: 30px 0;
}

.catalog-item .price {
	width: 257px;
	margin: 0;
	padding: 24px 0;
}

.catalog-item .details {
	display: flex;
}

.info a {
	display: block;
	padding: 3px 17px;
}

.booking a {
	display: block;
	padding: 3px 17px;
}

.info p,
.booking p {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.price h3 {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}

.info {
	margin: 0;
	margin-right: 6px;	
}

.catalog-item .rating {
	margin: 0;
	margin-left: auto;
	padding: 30px 0;
}

.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 1200px;
	min-height: 120px;
	margin: 0;
	padding: 0;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;

	background-color: rgba(255, 255, 255, 0.9);
}

.link,
.footer-social,
.footer-copyright {
	width: 400px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 47px;
	height: 47px;
	background-color: #81b3d2;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 150px;
	list-style: none;

	margin: 0 auto;
	padding: 0;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	fill: rgba(255, 255, 255, 0.3);
}


	





