body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-position: center;
}

html,
body {
	min-width: 1200px;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  
  border: none;
}

.wrapper {
	position: relative;
    width: 1200px;
    margin: 0 auto;

    box-shadow: 0 0 40px 2px #dbdbdb;
}

.container {
	background-color: #ffffff;
}

.main-header {
	position: relative;
	z-index: 20;
	min-height: 55px;
}

.main-navigation {
	display: flex;
	justify-content: center;


	min-height: 55px;
	background-color: #ffffff;
}

.main-navigation-logo {
	position: absolute;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	min-height: 55px;
	margin: 0;
	padding: 0 73px;

	list-style: none;	
}

.site-navigation a {
	font-weight: 700;
	color: #000000;	
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #bdbbbc;
}

.site-navigation-current {
	font-weight: 700;
	color: #766357;	
}

.site-navigation li {
	width: 240px;
	padding-top: 14px;
	padding-bottom: 16px;
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
	text-align: right;
}

.site-navigation li:last-child {
	text-align: right;
}

.intro {
	min-height: 508px;
	width: 1200px;
	background-color: #dff0f8;
    background-image: url("../img/intro-logo.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.promo {
	margin-top: 60px;
	text-align: center;
	padding-bottom: 37px;
}

.promo b {
	display: flex;

	margin: 0 379px 27px 378px;

	font-size: 21px;
	font-weight: 700;
}

.features h3 {
	font-size: 21px;
	font-weight: 700;
}

.feature {
	display: flex;
	
	margin: 0;
	padding: 0;
}

.feature-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 27px;

	width: 400px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;
}

.feature-description span {
	margin-top: 3px;
	margin-bottom: 6px;
}

.feature-description:first-child h3 {
	width: 125px;
}

.feature-description:first-child p {
	width: 282px;
}

.feature-picture { 
	position: relative; 
	overflow: hidden;
	width: 800px;
	height: 256px;
} 

.feature-picture img { 
	position: absolute; 
	top: 54%; 

	max-width: 100%; 
	height: auto; 
	transform: translateY(-54%);
}

.recommendations {
	margin: 0;
	padding: 0;
	padding-top: 140px;
    padding-bottom: 67px;
}

.recommendations p {
	margin-top: 25px;
}

.recommendations-list {
	display: flex;

	margin: 0;
	padding: 0;
	line-height: 21px;
	text-align: center;

	list-style: none;	
}

.recommendations-item {
	position: relative;
	width: 400px;
}

.recommendations-item::before {
	content: "";
	position: absolute;
	top: -81px;
	left: 105px;
	width: 75px;
	height: 75px;
	
	background-repeat: no-repeat;
}

.lodging {
	width: 253px;

	margin: 0 auto;
	padding: 0 12px;
}

.lodging::before {
	background-image: url("../img/lodging-icon.svg");
}

.food {
	width: 290px;

	margin: 0 auto;
}

.food::before {
	background-image: url("../img/food-icon.svg");	
}

.souvenirs {
	width: 271px;

	margin: 0 auto;
	padding: 0 4px;
}

.souvenirs::before {	
	background-image: url("../img/souvenir-icon.svg");
}

.feature-description:nth-child(2) p {
	width: 302px;
}

.other-features-list {
	display: flex;

	margin: 0;
	padding: 0;
	padding-top: 48px;
	padding-bottom: 60px;
	line-height: 21px;
	text-align: center;
	
	background-color: #eeeeee;
	list-style: none;	
}

.other-features-list li {
	width: 400px;
}

.other-features-item h3 {
	width: 120px;
	margin: 0 auto;
}

.other-features-item p {
	width: 265px;
	margin: 0;
	margin-top: 23px;
	margin-right: auto;
	margin-left: auto;
}

.search {
	position: relative;
    z-index: 20;
    margin: 0 auto;
    padding-top: 22px;
    width: 568px;
    text-align: center;
}

.search h2 {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
}

.search-info {
	padding: 0 65px;
    line-height: 24px;	
}

.map {
	position: relative;
	height: 593px;
	overflow: hidden;
}

.map img {
	position: absolute;
	top: 50%;

	width: 1200px;
	height: 593px;
	transform: translateY(-50%);
}

.search-button {
	position: relative;
	z-index: 2;
	margin-top: 33px;
    padding: 30px 0;
    width: 100%;
    font-size: 21px;
    font-weight: bold;

    background-color: #766357;    
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #503e33;	
}

.search-form {
	position: absolute;
    z-index: 1;
    transform-origin: top;
    width: 100%;
    padding: 55px 55px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-form p {
	margin: 0;
	margin-bottom: 29px;
}

.form-button {
	padding: 16px 195px;
	margin: 0;

	font-size: 21px;
	font-weight: 700;

    background-color: #81b3d2;
}

.form-button:hover {
	background-color: #669ec0;
}

.form-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.search-item {
	position: relative;
}

.search-item input {
	box-sizing: border-box;
	width: 345px;
	margin-right: auto;
	padding: 6px 13px;
	font: inherit;
	font-weight: 700;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-item-arrival label {
	margin-right: 19px;	
}

.search-item-departure label {
	margin-right: 16px;	
}

.search-item-adults label {
	margin-right: 35px;
}

.search-item-kids label {
	margin-right: 24px;
}

.search-item .button {
	position: absolute;
   top: 6px;
   right: 4px;
   background-color: transparent;
   outline-color: #e5e5e5;

}

.search-item .button:hover path {
	fill: #000000;
}

.search-item .button:active path {
	fill: #81b3d2;
}

.search-form .guests {
	display: flex;
	justify-content: space-between;
}

.guests input {
	width: 114px;
	padding: 6px 53px;
	margin-bottom: 54px;
}

.guests p {
	margin-bottom: 0;
	padding-top: 1px;
}

.guests .button {
	display: block;
	font: inherit;
	font-size: 24px;
    
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer;  
}

.guests .button::before,
.guests .button::after {
	content: '';
    position: absolute;
    top: 18px;
    left: 13px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.guests .button:hover::before,
.guests .button:hover::after {
	background-color: #000000;
}

.guests .button:active::before,
.guests .button:active::after {
	background-color: #81b3d2;
}

.search-item .button-minus {
	transform: translate(-71px, -5px);
}

.search-item .button-plus {
	transform: translate(4px, -5px);
}

.search-item .button-plus::after {
	transform: rotate(90deg);
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:focus {
	background-color: #ffffff;
	outline-color: #e5e5e5;
}

.search-item input::-webkit-input-placeholder {
    color: #000000;
}

.search-item input::-moz-placeholder {
    color: #000000;
}

.search-item input:-moz-placeholder {
    color: #000000;
}

.search-item input:-ms-input-placeholder {
    color: #000000;
}

.filters {
	width: 1200px;
	min-height: 217px;
	margin: 0;
	
	background-color: #4c789b;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;    
}

.filter {
	display: flex;

	margin: 0;
	padding: 26px 73px 0 73px; 
	color: #ffffff;
}

.filter-type {
	width: 254px;
	margin: 0;
	padding: 0;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filter legend {
	padding-top: 2px;

	font-size: 16px;
	font-weight: 700;
	line-height: 21px;	
}

.filter ul {
	margin: 0;
	padding: 0;
	line-height: 21px;
}

.filter-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-list li {
	margin: 25px 0;
}

.filter-list li:last-child {
	margin-bottom: 0;
}

.filter-checkbox + label {
	position: relative;
	padding-left: 39px;
	cursor: pointer;

}

.filter-checkbox + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -1px;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
	width: 27px;
	background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:disabled + label {
	color: #6a6a6a;
}

.filter-checkbox:disabled + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-checkbox:checked:disabled + label::before {
	width: 27px;
	background-image: url("../img/checkbox-on-disabled.svg");
}

.filter input {
	background-color: transparent;
}

.filter-range {    
    width: 316px;
	margin: 0;
	margin-left: auto;
}

.filter-range legend {
	margin: 0;
	margin-bottom: 10px;
	padding-left: 2px;

	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.range {
    position: relative;

	height: 32px;
	margin: 0;
    margin-bottom: 20px;

    font-size: 0;

	border: 2px solid #ffffff;
    border-radius: 2px;
}

.range::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 51%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.range label {
	display: inline-block;

	font-size: 14px;
	line-height: 21px;

	cursor: pointer;
}

.range .cost-from,
.range .cost-up-to {
	width: 83px;
	padding-top: 5px;
	padding-left: 64px;
}

.range input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -10px;

	width: 3px;
	height: 3px;

	background: #ababab;
	border: 9px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-range .button {
	display: block;

    margin: 0 84px;
    padding: 5px 35px;

    line-height: 21px;

    border-radius: 2px;
    cursor: pointer;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-range .button:hover {
	color: #000000;

	background-color: #ffffff;	
}

.sorting {
	display: flex;
	align-items: baseline;

	min-height: 22px;
	margin: 0;
	padding: 29px 73px;
}

.sorting b {
	margin: 0;
	margin-right: 46px;
}

.sorting span {
	margin-right: 39px;

	font-size: 12px;
	line-height: 18px;
}

.sorting ul {
	margin: 0;
	padding: 0;
}

.sorting ul,
.catalog ul {
	list-style: none;
}

.options-number {
	font-size: 21px;
	font-weight: 700;
}

.sorting .options-list {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;

	width: 239px;
}

.options-list a {
	font-size: 12px;
	line-height: 18px;
	color: #bdbbbc;

	border-bottom: 1px dashed #81b3d2; 
}

.options-list a:hover {
	color: #81b3d2;
}

.options-list a:active {
	color: #000000;

	border-bottom: none;
}

.options-list-current {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
}

.sorting .sorting-direction {
	position: relative;
	margin-left: auto;
	width: 35px;
}

.ascending a {
	position: absolute;
	top: -19px;
	left: 23px;
}

.ascending path {
    fill: #81b3d2;
}

.descending a {
	position: absolute;
	top: -17px;
	left: 0;
}

.descending path {
	fill: #cacaca;
}

.catalog {
	margin: 0;
	padding: 0;	
}

.catalog-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item {
	display: flex;
	
	padding: 0 73px;

	background-color: #fefefe;

	border-top: 2px solid #e5e5e5;
}

.catalog-item:last-child {
	border-bottom: 2px solid #e5e5e5;
}

.catalog-item-image {
	margin: 0;
	margin-right: 30px;
	padding: 30px 0 20px 0;
}

.catalog-item .price {
	margin: 0;
	padding: 23px 0;
}

.details {
	line-height: 21px;
}

.catalog-item .details {
	display: flex;
}

.info {
	margin: 0;
	margin-right: 6px;	
}

.info a {
	display: block;
	padding: 3px 16px;

	font-weight: 700;
	color: #ffffff;

	background-color: #81b3d2;
}

.info a:hover {
	background-color: #669ec0;
}

.info a:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.booking a {
	display: block;
	padding: 3px 17px;
	font-weight: 700;

	background-color: #766357;
}

.booking a:hover {
	background-color: #604e43;
}

.booking a:active {
	color: rgba(255,255,255,0.3);

	background-color: #503e33;	
}

.info p,
.booking p {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.price h3 {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	font-size: 21px;
	font-weight: 700px;
}

.price h3:hover {
	color: #81b3d2;
}

.price h3:active {
	color: #bdbbbc;
}

.rating-item {
	width: 111px;
	padding: 4px 13px;
	line-height: 21px;

	background-color: #f2f2f2;
}

.catalog-item .rating {
	position: relative;
	margin: 0;
	margin-left: auto;
	padding: 0;
	padding-top: 93px;
}

.rating-item::before {
	content: "";
	position: absolute;
	width: 72px;
	height: 17px;
	top: 28px;
	left: 40px;
	background-image: url("../img/star.svg");
	background-repeat: repeat;
}

.stars-3::before {
	width: 54px;
	left: 57px;	
}

.stars-2::before {
	width: 36px;
	left: 75px;
}

.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 1200px;
	min-height: 120px;
	margin: 0;
	padding: 0;

	background-color: rgba(255,255,255,0.9);
}

.main-footer a {
	color: #000000;
	text-decoration: none;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;

	background-color: rgba(255, 255, 255, 0.9);
}

.link,
.footer-social,
.footer-copyright {
	width: 400px;

	text-align: center;
}

.social-list {
	list-style: none;
}

.link b {
	font-size: 21px;
	font-weight: 700;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 150px;
	list-style: none;

	margin: 0 auto;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 47px;
	height: 47px;
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 400px;
	height: 42px;
	padding: 0;
	margin: 0;
}

.footer-copyright a {
	align-self: flex-start;
	padding: 0;
	margin: 0;
}

.footer-copyright svg {
	width: 114px;
	height: 42px;
	margin-left: 9px;
}

.footer-copyright svg:hover path {
	fill: #81b3d2;
}

.footer-copyright svg:active path {
	fill: #bdbbbc;
}