body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-position: center;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  
  border: none;
}

.container {
	background-color: #ffffff;
}

.intro {
	position: relative;
	height: 508px;
	width: 1200px;
	background-color: #dff0f8;
    background-image: url("../img/intro-logo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 21%;
}

.main-navigation {
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	font-weight: 700;
	color: #000000;	
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #bdbbbc;
}

.site-navigation-current {
	font-weight: 700;
	color: #766357;	
}

.promo b {
	font-size: 21px;
	font-weight: 700;
}

.promo {
	text-align: center;
}

.features h3 {
	font-size: 21px;
	font-weight: 700;
}

.feature1-description,
.feature2-description {
	line-height: 21px;
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;	
}

.recommendations-list {
	line-height: 21px;
	text-align: center;

	list-style: none;	
}

.other-features-list {
	line-height: 21px;
	text-align: center;
	
	background-color: #eeeeee;
	list-style: none;	
}

.search h2 {
	font-size: 30px;
	font-weight: 700;
    line-height: 36px;
	text-align: center;	
}

.search-info {
	line-height: 24px;
	text-align: center;	
}

.search-button {
	font-size: 21px;
	font-weight: 700;

    background-color: #766357;    
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #503e33;	
}

.search-form {
	font-size: 14px;
	font-weight: 700;
    line-height: 26px;
}

.form-button {
	font-size: 21px;
	font-weight: 700;

    background-color: #81b3d2;
}

.form-button:hover {
	background-color: #669ec0;
}

.form-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.search-item input {
	font: inherit;
	font-weight: 700;
	text-transform: uppercase;

	background-color: #f2f2f2;	
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:active {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.filters {
	position: relative;
	width: 1200px;
	min-height: 217px;
	
	background-color: #4c789b;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;    
}

.filter {
	color: #ffffff;
}

.filter-option {
	list-style: none;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;	
}

.filter ul {
	line-height: 21px;
}

.filter input {
	background-color: transparent;
}


.filter input:disabled + label {
	color: #6a6a6a;
}

.filter .button {
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter .button:hover {
	color: #000000;

	background-color: #ffffff;	
}

.sorting span {
	font-size: 12px;
	line-height: 18px;
}

.sorting ul,
.catalog ul {
	list-style: none;
}

.options-number {
	font-size: 21px;
	font-weight: 700;
}

.options-list a {
	font-size: 12px;
	line-height: 18px;
	color: #bdbbbc;

	border-bottom: 1px dashed #81b3d2; 
}

.options-list a:hover {
	color: #81b3d2;
}

.options-list a:active {
	color: #000000;

	border-bottom: none;
}

.options-list-current {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
}

.catalog-item {
	background-color: #fefefe;
}

.price h3 {
	font-size: 21px;
	font-weight: 700px;
}

.price h3:hover {
	color: #81b3d2;
}

.price h3:active {
	color: #bdbbbc;
}

.details {
	line-height: 21px;
}

.info a {
	font-weight: 700;
	color: #ffffff;

	background-color: #81b3d2;
}

.info a:hover {
	background-color: #669ec0;
}

.info a:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.booking a {
	font-weight: 700;

	background-color: #766357; 
	   
}

.booking a:hover {
	background-color: #604e43;
}

.booking a:active {
	color: rgba(255,255,255,0.3);

	background-color: #503e33;	
}

.rating-item {
	background-color: #f2f2f2;
}

.main-footer {
	background-color: rgba(255,255,255,0.9);
}

.main-footer a {
	color: #000000;
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.social-list {
	list-style: none;
}

.link b {
	font-size: 21px;
	font-weight: 700;

	margin: 0 132px;
}


.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;	
}

.footer-copyright {
	text-align: center;
}

.footer-copyright .button:hover {
	color: rgb(129,179,210);
}

.footer-copyright .button:active {
	color: rgb(189,187,188);
}

/*----сеточные стили----

*, *::before, *::after {
	outline: 1px dashed green;
}

--*, *::before, *::after {
	outline: none;--*/


html,
body {
	min-width: 1200;
	min-height: 2762;
}


.main-header {
	width: 1200px;
	min-height: 55px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
	justify-content: center;

	min-height: 55px;
}

.main-navigation-logo {
	position: absolute;
	min-width: 138px;
	min-height: 71px;
}

.site-navigation {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0 73px;

	list-style: none;

	min-height: 55px;
}

.site-navigation li:first-child {
	margin-right: 146px;
}

.site-navigation li:nth-child(2) {
	margin-right: 388px;
}

.site-navigation li:last-child {
	margin-left: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10;
}

.intro {
	margin-bottom: 61px;
	padding: 0;
}

.promo b {
	display: flex;
	width: 440px;
	margin: 0 auto;
	margin-bottom: 36px;
}

.promo p {
	margin-bottom: 56px;
}

.feature1 {
	display: flex;	
	margin: 0;
	margin-bottom: 61px;
	padding: 0;
	
}

.feature1-description {
	width: auto;
	padding: 46px 60px 63px;
}

.recommendations-list {
	display: flex;
	margin: 0;
	margin-bottom: 86px;
	padding: 0;
}

.recommendations-item {
	width: 400px;
}

.lodging {
	width: 253px;
	margin: 0 auto;
}

.food {
	width: 290px;
	margin: 0 auto;
}

.souvenirs {
	width: 271px;
	margin: 0 auto;
}

.feature2 {
	display: flex;
	margin: 0;
	padding: 0;	
}

.feature2-description {
	width: auto;
	padding: 46px 49px 63px;
}

.other-features-list {
	display: flex;
	margin: 0;
	margin-bottom: 54px;
	padding: 0;
	padding-top: 47px;
	padding-bottom: 63px;
}

.other-features-list li {
	width: 400px;
}

.feature3 {
	width: 208px;
	margin: 0 auto;
}

.feature4 {
	width: 262px;
	margin: 0 auto;
}

.feature5 {
	width: 259px;
	margin: 0 auto;
}

.search h2 {
	margin-bottom: 32px;
}


.main-footer {
	display: flex;
	width: 1200px;
	min-height: 120px;
	margin: 0 auto;
	padding: 0;
}

.link,
.footer-social,
.footer-copyright {
	width: 400px;
	margin: auto;
}





	





